@font-face {
  font-family: 'bebas';
  font-style: normal;
  font-weight: 300;
  /* src: url('assets/font/BebasNeueRegular.eot'); IE9 Compat Modes */
  src: local('bebas light'), local('bebas-light'),
       /* url('assets/font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('assets/font/BebasNeueLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/BebasNeueLight.woff') format('woff'), /* Modern Browsers */
      //  url('assets/font/BebasNeueLight.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('assets/font/BebasNeueRegular.svg#Actor') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'bebas';
  font-style: normal;
  font-weight: 400;
  /* src: url('assets/font/BebasNeueRegular.eot'); IE9 Compat Modes */
  src: local('bebas Regular'), local('bebas-Regular'),
       /* url('assets/font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('assets/font/BebasNeueRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/BebasNeueRegular.woff') format('woff'), /* Modern Browsers */
      //  url('assets/font/BebasNeueRegular.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('assets/font/BebasNeueRegular.svg#Actor') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'bebas';
  font-style: normal;
  font-weight: 500;
  /* src: url('assets/font/BebasNeueRegular.eot'); IE9 Compat Modes */
  src: local('bebas book'), local('bebas-book'),
       /* url('assets/font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('assets/font/BebasNeueBook.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/BebasNeueBook.woff') format('woff'), /* Modern Browsers */
      //  url('assets/font/BebasNeueBook.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('assets/font/BebasNeueRegular.svg#Actor') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'bebas';
  font-style: normal;
  font-weight: 600;
  /* src: url('assets/font/BebasNeueRegular.eot'); IE9 Compat Modes */
  src: local('bebas bold'), local('bebas-bold'),
       /* url('assets/font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('assets/font/BebasNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/BebasNeueBold.woff') format('woff'), /* Modern Browsers */
      //  url('assets/font/BebasNeueBold.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('assets/font/BebasNeueRegular.svg#Actor') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  /* src: url('assets/font/BebasNeueRegular.eot'); IE9 Compat Modes */
  src: local('roboto reguler'), local('Roboto-Reguler'),
       /* url('assets/font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
      //  url('assets/font/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
      //  url('assets/font/BebasNeueBold.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('assets/font/BebasNeueRegular.svg#Actor') format('svg'); Legacy iOS */
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 500;
  /* src: url('assets/font/BebasNeueRegular.eot'); IE9 Compat Modes */
  src: local('roboto medium'), local('Roboto-Medium'),
       /* url('assets/font/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
      //  url('assets/font/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/Roboto-Medium.woff') format('woff'), /* Modern Browsers */
      //  url('assets/font/BebasNeueBold.ttf') format('truetype'), /* Safari, Android, iOS */
       /* url('assets/font/BebasNeueRegular.svg#Actor') format('svg'); Legacy iOS */
}
body{
  font-family: 'bebas';
}